<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="StockBrokerDB" connectionString="Data Source=FELIPESCHMITT\SQLEXPRESS;Initial Catalog=StockBrokerDB;Integrated Security=True;MultipleActiveResultSets=True"/>
  </connectionStrings>
    <system.serviceModel>
        <client>
            <endpoint address="http://localhost:8732/" binding="wsHttpBinding"
                bindingConfiguration="wsEndpoint" contract="ServerOps.IServerOps"
                name="wsEndpoint">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
        <bindings>
            <netMsmqBinding>
                <binding name="StockbrokerQueueBinding">
                    <security mode="None" />
                </binding>
            </netMsmqBinding>
            <wsHttpBinding>
                <binding name="wsEndpoint" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false"
                    transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="Message">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true"
                            algorithmSuite="Default" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="StockBroker.StockBrokerOps">
                <endpoint address="" binding="netMsmqBinding" bindingConfiguration="StockbrokerQueueBinding"
                    name="queueEndpoint" contract="StockBroker.IStockBrokerOps">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" name="mexEndpoint"
                    contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/" />
                        <add baseAddress="net.msmq://localhost/private/Stockbroker" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
