<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netMsmqBinding>
                <binding name="StockbrokerQueueBinding">
                    <security mode="None" />
                </binding>
            </netMsmqBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="StockBroker.StockBrokerOps">
                <endpoint address="" binding="netMsmqBinding" bindingConfiguration="StockbrokerQueueBinding"
                    name="queueEndpoint" contract="StockBroker.IStockBrokerOps">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" name="mexEndpoint"
                    contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/" />
                        <add baseAddress="net.msmq://localhost/private/Stockbroker" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
